.bg-new{
    background-color: #368874;
}
.admin-txt{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #C9FFF5;
}
.height{
    margin-top: 150px;
}